In [1]:
import numpy as np
import pandas as pd

# Helper

In [26]:
def random_dates(start, end, n=10):

    start_u = start.value//10**9
    end_u = end.value//10**9

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit='s')

# Experiment

In [61]:
z_df = pd.read_csv("./dataset/zagats.csv")
f_df = pd.read_csv("./dataset/fodors.csv")

In [62]:
df_merged = pd.concat([z_df, f_df])

In [63]:
z_df

,id,name,addr,city,phone,type,class
0,1,'apple pan the','10801 w. pico blvd.','west la',310-475-3585,american,534
1,2,'asahi ramen','2027 sawtelle blvd.','west la',310-479-2231,'noodle shops',535
2,3,'baja fresh','3345 kimber dr.','westlake village',805-498-4049,mexican,536
3,4,'belvedere the','9882 little santa monica blvd.','beverly hills',310-788-2306,'pacific new wave',537
4,5,'benita\'s frites','1433 third st. promenade','santa monica',310-458-2889,'fast food',538
...,...,...,...,...,...,...,...
326,327,'plumpjack cafe','3127 fillmore st.','san francisco',415-563-4755,'american (new)',108
327,328,postrio,'545 post st.','san francisco',415-776-7825,californian,109
328,329,'ritz-carlton dining room (san francisco)','600 stockton st.','san francisco',415-296-7465,'french (new)',110
329,330,'rose pistola','532 columbus ave.','san francisco',415-399-0499,italian,111
330,331,'ritz-carlton cafe (atlanta)','181 peachtree st.',atlanta,404-659-0400,'american (new)',711

In [64]:
print(len(z_df), len(f_df))

331 533

In [65]:
df_merged = df_merged.drop(columns=["class", 'type'], )

In [66]:
df_merged.columns = ['user_id', 'user_name', 'user_address', 
                                 'user_city', "user_phone"]

In [67]:
df_merged['process_status'] = "processed"

In [68]:
df_merged

,user_id,user_name,user_address,user_city,user_phone,process_status
0,1,'apple pan the','10801 w. pico blvd.','west la',310-475-3585,processed
1,2,'asahi ramen','2027 sawtelle blvd.','west la',310-479-2231,processed
2,3,'baja fresh','3345 kimber dr.','westlake village',805-498-4049,processed
3,4,'belvedere the','9882 little santa monica blvd.','beverly hills',310-788-2306,processed
4,5,'benita\'s frites','1433 third st. promenade','santa monica',310-458-2889,processed
...,...,...,...,...,...,...
528,1062,'yank sing','427 battery st.','san francisco',415/541-4949,processed
529,1063,'yaya cuisine','1220 9th ave.','san francisco',415/566-6966,processed
530,1064,'yoyo tsumami bistro','1611 post st.','san francisco',415/922-7788,processed
531,1065,zarzuela,'2000 hyde st.','san francisco',415/346-0800,processed
532,1066,'zuni cafe & grill','1658 market st.','san francisco',415/552-2522,processed

In [69]:
df_merged

,user_id,user_name,user_address,user_city,user_phone,process_status
0,1,'apple pan the','10801 w. pico blvd.','west la',310-475-3585,processed
1,2,'asahi ramen','2027 sawtelle blvd.','west la',310-479-2231,processed
2,3,'baja fresh','3345 kimber dr.','westlake village',805-498-4049,processed
3,4,'belvedere the','9882 little santa monica blvd.','beverly hills',310-788-2306,processed
4,5,'benita\'s frites','1433 third st. promenade','santa monica',310-458-2889,processed
...,...,...,...,...,...,...
528,1062,'yank sing','427 battery st.','san francisco',415/541-4949,processed
529,1063,'yaya cuisine','1220 9th ave.','san francisco',415/566-6966,processed
530,1064,'yoyo tsumami bistro','1611 post st.','san francisco',415/922-7788,processed
531,1065,zarzuela,'2000 hyde st.','san francisco',415/346-0800,processed
532,1066,'zuni cafe & grill','1658 market st.','san francisco',415/552-2522,processed

In [70]:
start = pd.to_datetime('2015-01-01')
end = pd.to_datetime('2024-05-01')

In [71]:
df_merged['date_created'] = random_dates(start, end, len(df_merged))

In [73]:
df_merged[['user_id', 'user_name', 'user_address', 'user_city',
           'user_phone', 'process_status', 'date_created'
           ]]

,user_id,user_name,user_address,user_city,user_phone,process_status,date_created
0,1,'apple pan the','10801 w. pico blvd.','west la',310-475-3585,processed,2019-06-19 03:22:29
1,2,'asahi ramen','2027 sawtelle blvd.','west la',310-479-2231,processed,2023-03-15 02:54:32
2,3,'baja fresh','3345 kimber dr.','westlake village',805-498-4049,processed,2020-11-03 20:16:34
3,4,'belvedere the','9882 little santa monica blvd.','beverly hills',310-788-2306,processed,2019-04-08 06:17:08
4,5,'benita\'s frites','1433 third st. promenade','santa monica',310-458-2889,processed,2020-12-01 18:15:14
...,...,...,...,...,...,...,...
528,1062,'yank sing','427 battery st.','san francisco',415/541-4949,processed,2019-12-21 06:22:23
529,1063,'yaya cuisine','1220 9th ave.','san francisco',415/566-6966,processed,2015-09-10 15:32:39
530,1064,'yoyo tsumami bistro','1611 post st.','san francisco',415/922-7788,processed,2019-12-10 15:40:21
531,1065,zarzuela,'2000 hyde st.','san francisco',415/346-0800,processed,2015-02-20 16:42:15
532,1066,'zuni cafe & grill','1658 market st.','san francisco',415/552-2522,processed,2015-07-28 09:19:41

In [74]:
df_merged.to_csv("./dataset/db.csv", index=False)

In [75]:
test_df = pd.read_csv("./dataset/db.csv")

In [76]:
test_df

,user_id,user_name,user_address,user_city,user_phone,process_status,date_created
0,1,'apple pan the','10801 w. pico blvd.','west la',310-475-3585,processed,2019-06-19 03:22:29
1,2,'asahi ramen','2027 sawtelle blvd.','west la',310-479-2231,processed,2023-03-15 02:54:32
2,3,'baja fresh','3345 kimber dr.','westlake village',805-498-4049,processed,2020-11-03 20:16:34
3,4,'belvedere the','9882 little santa monica blvd.','beverly hills',310-788-2306,processed,2019-04-08 06:17:08
4,5,'benita\'s frites','1433 third st. promenade','santa monica',310-458-2889,processed,2020-12-01 18:15:14
...,...,...,...,...,...,...,...
859,1062,'yank sing','427 battery st.','san francisco',415/541-4949,processed,2019-12-21 06:22:23
860,1063,'yaya cuisine','1220 9th ave.','san francisco',415/566-6966,processed,2015-09-10 15:32:39
861,1064,'yoyo tsumami bistro','1611 post st.','san francisco',415/922-7788,processed,2019-12-10 15:40:21
862,1065,zarzuela,'2000 hyde st.','san francisco',415/346-0800,processed,2015-02-20 16:42:15
863,1066,'zuni cafe & grill','1658 market st.','san francisco',415/552-2522,processed,2015-07-28 09:19:41

In [ ]:
print(df_merged)